

#top-nav {
    background-color: red;
    margin-bottom: 3em;
    font-size: 1.5em;
}
#top-nav .btn {
    margin: .5em;
}

#scripttab, #logtab {
    margin-top: 1em;
}
#scripttab textarea, #logtab textarea {
    width: 100%;
}

#footer {
    padding: 1em 0;
    margin-top: 3em;
}


#exerciserlogo {
    height: 20px;
    margin: .2em 1em .3em 1em;
}
.opencpulogo, .dockerlogo, .Rlogo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto; 
}
.opencpulogo { background-image: url("opencpu-logo.png"); width: 120px;}
.dockerlogo  { background-image: url("docker-logo.png"); }
.Rlogo       { background-image: url("R-logo.png"); }

/* Metainfo styling */
ul.exerciser.cmd, ul.exerciser.files {
    padding: 0;
    margin: 0;
}
ul.exerciser.cmd > li, ul.exerciser.files > li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0 .3em;
    margin-right: .3em;
    font-family: monospace, courier;
    font-size: .8em;
    border: 1px solid black;
}
ul.exerciser.cmd.blacklist > li { border-color: red; background-color: #ffe6e6; }
ul.exerciser.cmd.whitelist > li { border-color: #009900; background-color: #e6ffe6; }
ul.exerciser.files         > li { border-color: #0099e6; background-color: #cceeff; }

@media only screen and (max-width: 750px) {
    #metainfo > div > b { float: left; margin-right: 1em; }
}

/* Styling of the exercise description/details */
#description h1, #solution h1, #tests h1, #metainfo h1 { font-size: 2em; }
#description h2, #solution h2, #tests h2, #metainfo h2 { font-size: 1.6em; }
#description h3, #solution h3, #tests h3, #metainfo h3 { font-size: 1.2em; }

#metainfo ul.exercise.files > li { cursor: pointer; }

/* R Tests */
div#tests code {
    color: #007bff;
    display: block;
    float: none;
}
div#tests .test-invisible {
    color: gray;
}

/* Code styling */
#ocpuoutput-response pre {
    border-radius: .2em;
    border: 1px solid #E1E1E1;
    padding: .5em;
    background-color: #F9F9F9;
}
#ocpuoutput-response pre.failed { background-color: #F7ECEE; color: #441507; }
#ocpuoutput-response pre.passed { background-color: #F1F7EC; }


